<ion-header>
  <ion-toolbar>
    <ion-title>
      Belanja Cepat Harga Hemat
    
    </ion-title>
   
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
      <ion-title>
          DAGING
        
        </ion-title>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> ayam</ion-label>
        <p>28000/kg</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> Sapi</ion-label>
        <p>56000/kg</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> kambing</ion-label>
        <p>40000/kg</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> babi</ion-label>
        <p>35000/kg</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> bebek </ion-label>
        <p>38000/kg</p>
        </ion-item>

  </ion-card>

  <ion-card>
      <ion-title>
          SAYUR
        
        </ion-title>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> kangkung</ion-label>
        <p>2800/ikat</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> bayam</ion-label>
        <p>3000/ikat</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> sawi</ion-label>
        <p>2500/ikat</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label>kacangpanjang</ion-label>
        <p>2000/ikat</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> selada </ion-label>
        <p>5000/ikat</p>
        </ion-item>

  </ion-card>
  <ion-card>
      <ion-title>
          Bumbu Dapur
        
        </ion-title>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> bawang merah</ion-label>
        <p>28000/kg</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label>bawang putih</ion-label>
        <p>56000/kg</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> kemiri</ion-label>
        <p>40000/kg</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> merica</ion-label>
        <p>35000/kg</p>
     </ion-item>
     <ion-item>
        <ion-checkbox color="primary"></ion-checkbox>
        <ion-label> ketumbar</ion-label>
        <p>38000/kg</p>
        </ion-item>

  </ion-card>

    

</ion-content>
