<ion-header>
  <ion-toolbar>
    <ion-title>
      MASAK itu MUDAH
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/icon/food-1.jpg" alt="" height="auto" />
      <ion-card-header>
        <ion-card-subtitle>Nikmati berbagai resep favorit </ion-card-subtitle>
        <ion-card-title>Kuliner nusantara</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p> lihat dan coba berbagai cita rasa yang berbeda </p>
      </ion-card-content>
    </ion-card>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label> Pilihan Masakan</ion-label>
      </ion-list-header>
      <ion-item href="/tabs/tab2" color="success-tint">
        <ion-icon slot="start" color="medium" name="star" color="800000"></ion-icon>
        <ion-label>Recomended </ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/building/scaffolding">
        <ion-icon slot="start" color="medium" name="list"></ion-icon>
        <ion-label>Traditional</ion-label>
      </ion-item>
      <ion-item href="https://ionicframework.com/docs/layout/structure">
        <ion-icon slot="start" color="medium" name="pizza"></ion-icon>
        <ion-label>Resep Kekinian</ion-label>
      </ion-item>
      <ion-item href="http://chatime.com/m/full/ourdrinks.html">
        <ion-icon slot="start" color="medium" name="clipboard"></ion-icon>
        <ion-label>Aneka kue</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
