<ion-header>
  <ion-toolbar>
    <ion-title>
      check status pesanan anda
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-avatar>
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        
    </ion-avatar>

    <ion-grid>

        <ion-row>
            <ion-col>
              
    <ion-card>
        <ion-title>
            Hot deal
          
          </ion-title>
       <ion-item>
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-label> Sayor boss</ion-label>
          <p>28000/kg</p>
       </ion-item>
       <ion-item>
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-label>Gule gila</ion-label>
          <p>56000/kg</p>
       </ion-item>
       <ion-item>
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-label> Rawon iblis</ion-label>
          <p>40000/kg</p>
       </ion-item>
       <ion-item>
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-label> soto banjar</ion-label>
          <p>35000/kg</p>
       </ion-item>
       <ion-item>
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-label> lodeh belanda</ion-label>
          <p>38000/kg</p>
          </ion-item>
  
    </ion-card>
            </ion-col>

            <ion-col>
             
    <ion-card>
        <ion-title>
            best seller
          
          </ion-title>
       <ion-item>
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-label> nasgor semrawut</ion-label>
          <p>28000/kg</p>
       </ion-item>
       <ion-item>
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-label>padang </ion-label>
          <p>56000/kg</p>
       </ion-item>
       <ion-item>
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-label> peteng</ion-label>
          <p>40000/kg</p>
       </ion-item>
       <ion-item>
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-label> chinese food</ion-label>
          <p>35000/kg</p>
       </ion-item>
       <ion-item>
          <ion-checkbox color="primary"></ion-checkbox>
          <ion-label> western meal</ion-label>
          <p>38000/kg</p>
          </ion-item>
  
    </ion-card>
            </ion-col>

          </ion-row>

          
    </ion-grid>

    <ion-row>
      <ion-text>
        Belum ada pesanan yang ditambahkan
      </ion-text>
    </ion-row>

</ion-content>
